* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../images/gallery/background.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.logo{
    color: #000;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}
.logo img {
    width: 50px;
    height: auto;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #000;
}

.main-items{
    justify-content: space-between;
}
.main-items nav{
    height: 50px;
    background-color: #eeeeee;
    justify-content:center;
}
.main-items nav a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    padding: 0 1.5rem;
}

.signupbox {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
  .signupbox input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  .signupbox button {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper.active {
    margin-top: 40px;
    height: 560px;
}
.wrapper.active .form-box.login {
    display: none;
}
.wrapper.active .form-box.register {
    display: block;
}
.wrapper .form-box.register {
    display: none;
}

.wrapper .form-box.login-register{
    position: absolute;
    transform: translateX(400px);
} 
.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    padding: 0 50px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.select-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.select-box select {
    padding: 10px;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #162938;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #162938;
    font-weight: 500;
}

.select-box select option{
    background: #fff;
    color: #162938;
}


.remember-forgot {
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a {
    color: #162938;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}

.error-notify {
    font-size: .9em;
    color: #b10b0b;
    text-align: center;
    font-weight: 500;
    margin: -10px 0 30px;
}

.error-notify.login{
    display: none;
}
.error-notify.login.active {
    display: block;
}
.error-notify.register{
    display: none;
}
.error-notify.register.active {
    display: block;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: 1em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}